<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Home{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
  </head>
  <body>
    <div class="container">{% block content %}Home{% endblock %}</div>

    {% block script %}
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='script.js')}}"
    ></script>
    {%endblock%}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='announce.js')}}"
    ></script>
  </body>
</html>
