{% extends 'base.html' %}
<title>{% block title %}Sign Up{% endblock %}</title>
{% block content %}

<div class="main-wrap">
  <div class="box-container">
      <div class="img-box">
          <video id="video" width="320" height="240" autoplay></video>
          <canvas id="canvas" style="display:none;"></canvas>
      </div>
      
      <div class="form-wrap">
          <div class="top-signup" id="top-signup">
              
          </div>
          <div class="mid-container">
              <h1>Hello</h1>
              <h6>Sign Up</h6>
              <form class="form" method="post" id="signUpForm" >
                  <label for="Username">Username</label></br>
                  <input type="text" name="username" id="inpUsername" placeholder="Your Username"> 
                  </br></br>
                  <label for="email">Email</label></br>
                  <input type="text" name="email" id="inpEmail" placeholder="Your Email">
                  </br></br>
                  <label for="phone">Phone</label></br>
                  <input type="text" name="phone" id="inpPhone" placeholder="Your Phone">
                  <br>
                  <button id="btnSignUp" class="login-btn">Sign Up</button>
              </form>
              
          </div>

            <div id="checkboxContainer" class="hidden">
                <div>
                    <input type="checkbox" id="thang" name="thang" value="0">
                    <label for="thang">Nhin thang</label>
                </div>
                <div>
                    <input type="checkbox" id="trai" name="trai" value="1">
                    <label for="trai">Ben Trai</label>
                </div>
                <div>
                    <input type="checkbox" id="phai" name="phai" value="2">
                    <label for="phai">Ben Phai</label>
                </div>
                <div>
                    <input type="checkbox" id="tren" name="tren" value="3">
                    <label for="tren">Nhin Tren</label>
                </div>
                <div>
                    <input type="checkbox" id="duoi" name="duoi" value="4">
                    <label for="duoi">Nhin Duoi</label>
                </div>
            </div>
        </div>
      
  </div>
</div>
{% endblock %} {%block script %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='signUp.js')}}"
></script>
{%endblock%}
